
html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {

  position: absolute;
  pointer-events: none !important;
  margin: 0;
  padding: 0;
   z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 
}



body {
  background: #ebebeb;
  font-family: inter;
  overflow: hidden;
}

.container {
  
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.canvas {
  top: 0px;
  left: 0px;
  pointer-events: none !important;
z-index: 0;
position: absolute;
  width: 100% !important;
  height: 100% !important;
 
}




.view {
display: inline;
margin: 0;
  padding: 0;
  width: 100%;
  
  position: absolute;
  z-index: 1000;
 

}
.a5, .a4, .a3, .a2, .a1 {
  display: inline;
  margin: 0;
  
    padding: 0;
    width: 100%;
    height: 0%;
    position: absolute;
    z-index: 1000;
    -webkit-transition: all 305ms ease-in-out;
    transition: all 305ms ease-in-out;
  
  }
  .a5.hoverclass{
    height: 100% !important;
   
  }
  .a4.hoverclass{
    height: 100% !important;
  }
  .a3.hoverclass{
    height: 100% !important;
  }
  .a2.hoverclass{
    height: 100% !important;
  }
  .a1.hoverclass{
    height: 100% !important;
  }



/* webflow */


.textdiv {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 6vh;
  color: rgb(170, 170, 170);
 
}

.title {
  width: 150px;
  padding-bottom: 18px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
  color: rgb(255, 255, 255);
}

.body1 {
  width: 150px;
  padding-bottom: 18px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: rgb(216, 216, 216);
}

.body2 {
  width: 125px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: rgb(211, 211, 211);
}

.sliderparentdiv {
  position: relative;
  z-index: 100;
  display: inline-block;
  overflow: hidden;
  width: 18%;
  height: 70vh;
  margin-right: 1%;
  margin-left: 1%;
  border: 2px solid #000;
  border-radius: 32px;
  background-color: hsla(0, 0%, 0%, 0.73);
  -webkit-transition: all 375ms ease-in-out;
  transition: all 375ms ease-in-out;
}


.sliderparentdiv.hovernotactive {
  width: 10%;
}

.sliderparentdiv.hoveractive {
  width: 50%;
}

.textdivbreakout {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0vw;
  margin-left: 0vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns {
  display: none;
}

.imagediv {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.imagediv.newhover {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.bodycontainer {
  position: fixed;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


  .close {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 2%;
    z-index: 1000;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 4px solid #000;
    border-radius: 100px;
    background-color: #fff;
    background-image: url('../images/close.svg');
    background-position: 50% 50%;
    background-size: cover;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  


.open {
  position: absolute;
  height: 0px;
  border: 0px solid #000;
  opacity: 0;
}



.r3f {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  
  
 
}
#r1{
  background-image: url('../images/abc1.png');
  background-position: 50% 50%;
  background-size: cover;
}
#r2{
  background-image: url('../images/abc2.png');
  background-position: 50% 50%;
  background-size: cover;
}
#r3{
  background-image: url('../images/abc3.png');
  background-position: 50% 50%;
  background-size: cover;
}
#r4{
  background-image: url('../images/abc4.png');
  background-position: 50% 50%;
  background-size: cover;
}
#r5{
  background-image: url('../images/abc1.png');
  background-position: 50% 50%;
  background-size: cover;
}

.lilimage {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0px;
  bottom: auto;
  width: 100%;
  height: 70vh;
 
  background-image: url('../images/abc1c.png');
  background-position: 50% 50%;
  background-size: cover;
}

.lilimage.img2 {
  background-image: url('../images/abc2c.png');
  background-position: 50% 50%;
}

.lilimage.img1 {
  background-image: url('../images/abc1c.png');
  background-position: 50% 50%;
}

.lilimage.img3 {
  background-image: url('../images/abc3c.png');
  background-position: 50% 50%;
}

.lilimage.img4 {
  background-image: url('../images/abc4c.png');
  background-position: 50% 50%;
}

.lilimage.img5 {
  background-image: url('../images/abc1c.png');
  background-position: 50% 50%;
}


.stretchcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 88vw;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.stretchcontainer.fullguy {
  
  width: 100vw;
  height: 100vh;
 
}

.backgroundcontainer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
#myVideo{
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  opacity: 0.99;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -webkit-transform: scale(3.5);
  -ms-transform: scale(3.5);
  transform: scale(3.5);
}

.background-video {
  height: 100vh;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}


.sliderparentdiv.hoverfull {
  width: 100%;
  height: 100vh;
  margin-right: 0%;
  margin-left: 0%;
  border-radius: 0px;
}

.sliderparentdiv.hoverzero {
  width: 0%;
  margin-right: 0%;
  margin-left: 0%;
  border-style: none;
}